body {
display: flex;
flex-direction: column;
align-items: center;

  background: rgb(178,183,223);
  background: radial-gradient(circle, rgba(178,183,223,0.3897934173669467) 0%, rgba(148,187,233,1) 11%, rgba(149,180,222,1) 66%, rgba(39,116,150,1) 95%);
}




h1 {
  color: #FFFF;
  text-align: center;
  background-color: #5e7189;
  padding: 10px;
  border-radius: 3rem;
}
#nameProject {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 3rem;
  background-color: #5e7189;
}



.description-text-center {

  text-align: center;
  font-size: 2.5rem;
  background-color: #3e444a;
  border-radius: 5rem;
}
.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 575.98px) { 
  :root {
      --dark-blue: #161619;
      --blue: #5e7189;
      --light-blue: rgb(37, 25, 70);
      --pink: rgb(255, 40, 113);
  }

  .center {
      display: flex; 
      justify-content: center;
  }
}