

body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(178, 183, 223);
  background: radial-gradient(
    circle,
    rgba(178, 183, 223, 0.3897934173669467) 0%,
    rgba(148, 187, 233, 1) 11%,
    rgba(149, 180, 222, 1) 66%,
    rgba(39, 116, 150, 1) 95%
  );
}

.icons-container :hover {
  cursor: pointer;
  opacity: 0.6;
}


.container h1 :hover {
  cursor: pointer;
  opacity: 0.6;
}
.container{
  column-count: 2;
  column-gap: 20px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}
div.projectCard {
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 1rem;
  padding: 1rem;
  background: rgb(39, 116, 150);
  margin-bottom: 1rem;
  border: 1rem solid rgba(178, 183, 223, 0.3897934173669467);
}

h1 {
  color: #ffff;
  text-align: center;
  background-color: #5e7189;
  padding: 1rem;
  border-radius: 3rem;
  margin: auto;
  width: fit-content;
}
h1.contact {
  color: #ffff;
  text-align: center;
  background-color: #5e7189;
  padding: 1rem;
  border-radius: 3rem;
  border: .5rem solid rgba(39, 116, 150, 1);
  margin: auto;
  margin-bottom: 1rem;
  width: 80%;
 
  
}
p {
 text-align: center;
  width: fit-content;
  margin: auto;
  font-size: 1rem
}
h1.contactHead {
  color: #000000;
  text-align: center;
  background-color: rgb(39, 116, 150);
  border-radius: 3rem;
  border: 3px solid rgba(178, 183, 223, 0.3897934173669467);
  width: fit-content;
  margin: auto;
}
.aboutHead h1 {
  color: #ffff;
  text-align: center;
  background-color: #5e7189;
  border-radius: 3rem;
  border: 3px solid rgba(178, 183, 223, 0.3897934173669467);
  font-size: 3rem;
  max-width: fit-content;
  margin: auto;
  margin-bottom: 1rem;
}

.card-title-text-center {
  color: #ffff;
  text-align: center;
  background-color: #5e7189;
  border-radius: 3rem;
  border: 3px solid rgba(178, 183, 223, 0.3897934173669467);
  font-size: 3rem;
  max-width: fit-content;
  margin-top: 1rem;
}

.tech-text-center {
  text-align: center;
  margin-top: 5px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #5e7189;
  border: 3px solid rgba(39, 116, 150, 1);
}

.description{
  text-align: center;
  font-size: 2.5rem;
  background-color: #3e444a;
  border-radius: 5rem;
  border: 3px solid rgba(39, 116, 150, 1);
} 


.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.nav-link {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 3rem;
  background-color: #5e7189;
  border: 3px solid rgba(39, 116, 150, 1);
}
#portfolio.top-title {
  color: #ffff;
  text-align: center;
  background-color: #5e7189;
  padding: 10px;
  border-radius: 3rem;
  width: fit-content;
  margin-bottom: 1rem;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto;
}

a.nav-link {
  text-decoration: none;
  color: rgb(37, 25, 70)
}
a.nav-link:hover {
  color: #fff;
}

#avatar{
  border: 3px solid rgba(39, 116, 150, 1);
  border-radius: 25%;
  width: 20rem;
  height: 20rem;
  margin: auto;
  display: flex;

}

.job {
  font-size: 2.2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #5e7189;
  border: 3px solid rgba(39, 116, 150, 1);
  width: fit-content;
  margin: auto;
}



img.contact-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 575.98px) {
  :root {
    --dark-blue: #161619;
    --blue: #5e7189;
    --light-blue: rgb(37, 25, 70);
    --pink: rgb(255, 40, 113);
  }

  .center {
    display: flex;
    justify-content: center;
  }
  .container {
    column-count: 1;
  }
}
